@{
    ViewBag.Title = "Home Page";
}
<!--TEST TEST-->
<!--Second TEST-->
<body>
<!-- Modal -->
<div class="modal fade lug" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>
                        <a href="#"><img src="~/Content/images/flag-up-1.png" alt=""/> United States</a>
                    </li>
                    <li>
                        <a href="#"><img src="~/Content/images/flag-up-2.png" alt=""/> France </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="sidebar" class="top-nav">
    <ul id="sidebar-nav" class="sidebar-nav">
        <li>
            <a href="#">Help</a>
        </li>
        <li>
            <a href="howitworks.html">How it works</a>
        </li>
        <li>
            <a href="#">chamb for Business</a>
        </li>
    </ul>
</div>

<div class="page-content-product">
    <div class="main-product">
        <div class="container">
            <div class="row clearfix">
                <div class="find-box">
                    <h1>Find your next product or<br>business partner here.</h1>
                    <h4>It has never been easier.</h4>
                    <div class="product-sh">
                        <div class="col-sm-9">
                            <div class="form-sh">
                                <input type="text" placeholder="Search something you love">
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-sh">
                                <a class="btn" href="#">Search</a>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <a href="productpage.html">
                        <div class="box-img wow fadeIn" data-wow-delay="0.1s">
                            <h4>Vehicule<br/>&#8201;</h4>
                            <img src="~/Content/images/Categories/Car.png" alt="Vehicule"/>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <a href="productpage.html">
                        <div class="box-img wow fadeIn" data-wow-delay="0.2s">
                            <h4>Electronice <br/> si electrocasnice</h4>
                            <img src="~/Content/images/Categories/Smartphone.png" alt="Electronice si electrocasnice"/>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <a href="productpage.html">
                        <div class="box-img wow fadeIn" data-wow-delay="0.3s">
                            <h4>Imobiliare<br/>&#8201;</h4>
                            <img src="~/Content/images/Categories/Imobiliare.png" alt="Imobiliare"/>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <a href="productpage.html">
                        <div class="box-img wow fadeIn" data-wow-delay="0.4s">
                            <h4>Casa si gradina<br/>&#8201;</h4>
                            <img src="~/Content/images/Categories/House.png" alt="Casa si gradina"/>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <a href="productpage.html">
                        <div class="box-img  wow fadeIn" data-wow-delay="0.5s">
                            <h4>Articole vestimentare<br/>&#8201;</h4>
                            <img src="~/Content/images/Categories/Vestimentation.png" alt="Articole vestimentare"/>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <a href="productpage.html">
                        <div class="box-img wow fadeIn" data-wow-delay="0.6s">
                            <h4>Sport, timp liber, arta<br/>&#8201;</h4>
                            <img src="~/Content/images/Categories/Ball.png" alt="Sport, timp liber, arta"/>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <a href="productpage.html">
                        <div class="box-img wow fadeIn" data-wow-delay="0.7s">
                            <h4>Animale de companie<br/>&#8201;</h4>
                            <img src="~/Content/images/Categories/Cat.png" alt="Animale de compani"/>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <a href="productpage.html">
                        <div class="box-img wow fadeIn" data-wow-delay="0.8s">
                            <h4>Produse pentru copii<br/>&#8201;</h4>
                            <img src="~/Content/images/Categories/BabyCart.png" alt="Produse pentru copii"/>
                        </div>
                    </a>
                </div>
                <div class="categories_link">
                    <a href="#">Browse all categories here</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cat-main-box">
    <div class="container">
        <div class="row panel-row">
            <div class="col-md-3 col-sm-3">

            </div>
            <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                <div class="panel panel-default">
                    <a href="#">
                        <div class="box2-img">
                            <div class="panel-body">
                                <img src="~/Content/images/create-icon.jpg" class="icon-small" alt="">
                                <h4>Add a product</h4>
                                <p>
                                    Grow easily with chamb. Create free account.
                                    We help expanding your business easily.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="product-profile-box">
<div class="container">
<div class="row">
@* <div class="col-md-1 col-sm-4 pr"> *@
    @* <div class="profile-pro-left"> *@
    @*    <div class="left-profile-box-m"> *@
    @*       <div class="pro-img"> *@
    @*          <img src="~/Content/images/150x150.png" alt="#" /> *@
    @*       </div> *@
    @*       <div class="pof-text"> *@
    @*          <h3>Morgan Mobilya</h3> *@
    @*          <div class="check-box"></div> *@
    @*       </div> *@
    @*       <a href="#">Contact company</a> *@
    @*       <p><img src="~/Content/images/report-icon.jpg" alt="" />Report this user</p> *@
    @*    </div> *@
    @* </div> *@
@* </div> *@
<div class="profile-pro-right">
<div class="panel with-nav-tabs panel-default">
<div class="panel-heading clearfix">
    <ul class="nav nav-tabs pull-right right-t">
        <li class="dropdown">
            <a href="#" data-toggle="dropdown">Sort <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#tab4default" data-toggle="tab">Default 4</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#tab5default" data-toggle="tab"><i class="fa fa-sliders" aria-hidden="true"></i> Refine</a>
        </li>
    </ul>
</div>
<div class="panel-body">
<div class="tab-content">
<div class="tab-pane fade in active" id="tab1default">
<div class="product-box-main row">
<div class="col-md-3 col-sm-6">
    <div class="small-box-c">
        <div class="small-img-b">
            <img src="~/Content/images/tr1.png" alt="#"/>
        </div>
        <div class="dit-t clearfix">
            <div class="left-ti">
                <h4>Product</h4>
                <p>Under <span>Sofa Corner</span></p>
            </div>
            <a href="#" tabindex="0">$1220</a>
        </div>
            <div class="prod-btn">
                <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
                <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                <p>23 likes</p>
            </div>
    </div>
</div>
@* ----------------------------------------------------------------------------------------------------------------- *@
<div class="col-md-3 col-sm-6">
    <div class="small-box-c">
        <div class="small-img-b">
            <img src="~/Content/images/tr2.png" alt="#"/>
        </div>
        <div class="dit-t clearfix">
            <div class="left-ti">
                <h4>Product</h4>
                <p>Under <span>Sofa Corner</span></p>
            </div>
            <a href="#" tabindex="0">$1220</a>
        </div>
        <div class="prod-btn">
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
            <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
            <p>23 likes</p>
        </div>
    </div>
</div>
@* ----------------------------------------------------------------------------------------------------------------- *@
<div class="col-md-3 col-sm-6">
    <div class="small-box-c">
        <div class="small-img-b">
            <img src="~/Content/images/tr3.png" alt="#"/>
        </div>
        <div class="dit-t clearfix">
            <div class="left-ti">
                <h4>Product</h4>
                <p>Under <span>Sofa Corner</span></p>
            </div>
            <a href="#" tabindex="0">$1220</a>
        </div>
        <div class="prod-btn">
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
            <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
            <p>23 likes</p>
        </div>
    </div>
</div>
@* ----------------------------------------------------------------------------------------------------------------- *@
<div class="col-md-3 col-sm-6">
    <div class="small-box-c">
        <div class="small-img-b">
            <img src="~/Content/images/tr4.png" alt="#"/>
        </div>
        <div class="dit-t clearfix">
            <div class="left-ti">
                <h4>Product</h4>
                <p>Under <span>Sofa Corner</span></p>
            </div>
            <a href="#" tabindex="0">$1220</a>
        </div>
        <div class="prod-btn">
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
            <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
            <p>23 likes</p>
        </div>
    </div>
</div>
@* ----------------------------------------------------------------------------------------------------------------- *@
<div class="col-md-3 col-sm-6">
    <div class="small-box-c">
        <div class="small-img-b">
            <img src="~/Content/images/tr1.png" alt="#"/>
        </div>
        <div class="dit-t clearfix">
            <div class="left-ti">
                <h4>Product</h4>
                <p>Under <span>Sofa Corner</span></p>
            </div>
            <a href="#" tabindex="0">$1220</a>
        </div>
        <div class="prod-btn">
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
            <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
            <p>23 likes</p>
        </div>
    </div>
</div>
@* ----------------------------------------------------------------------------------------------------------------- *@
<div class="col-md-3 col-sm-6">
    <div class="small-box-c">
        <div class="small-img-b">
            <img src="~/Content/images/tr2.png" alt="#"/>
        </div>
        <div class="dit-t clearfix">
            <div class="left-ti">
                <h4>Product</h4>
                <p>Under <span>Sofa Corner</span></p>
            </div>
            <a href="#" tabindex="0">$1220</a>
        </div>
        <div class="prod-btn">
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
            <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
            <p>23 likes</p>
        </div>
    </div>
</div>
@* ----------------------------------------------------------------------------------------------------------------- *@
<div class="col-md-3 col-sm-6">
    <div class="small-box-c">
        <div class="small-img-b">
            <img src="~/Content/images/tr3.png" alt="#"/>
        </div>
        <div class="dit-t clearfix">
            <div class="left-ti">
                <h4>Product</h4>
                <p>Under <span>Sofa Corner</span></p>
            </div>
            <a href="#" tabindex="0">$1220</a>
        </div>
        <div class="prod-btn">
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
            <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
            <p>23 likes</p>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-6">
    <div class="small-box-c">
        <div class="small-img-b">
            <img src="~/Content/images/tr4.png" alt="#"/>
        </div>
        <div class="dit-t clearfix">
            <div class="left-ti">
                <h4>Product</h4>
                <p>Under <span>Sofa Corner</span></p>
            </div>
            <a href="#" tabindex="0">$1220</a>
        </div>
        <div class="prod-btn">
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
            <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
            <p>23 likes</p>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-6">
    <div class="small-box-c">
        <div class="small-img-b">
            <img src="~/Content/images/tr1.png" alt="#"/>
        </div>
        <div class="dit-t clearfix">
            <div class="left-ti">
                <h4>Product</h4>
                <p>Under <span>Sofa Corner</span></p>
            </div>
            <a href="#" tabindex="0">$1220</a>
        </div>
        <div class="prod-btn">
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
            <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
            <p>23 likes</p>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-6">
    <div class="small-box-c">
        <div class="small-img-b">
            <img src="~/Content/images/tr2.png" alt="#"/>
        </div>
        <div class="dit-t clearfix">
            <div class="left-ti">
                <h4>Product</h4>
                <p>Under <span>Sofa Corner</span></p>
            </div>
            <a href="#" tabindex="0">$1220</a>
        </div>
        <div class="prod-btn">
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
            <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
            <p>23 likes</p>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-6">
    <div class="small-box-c">
        <div class="small-img-b">
            <img src="~/Content/images/tr3.png" alt="#"/>
        </div>
        <div class="dit-t clearfix">
            <div class="left-ti">
                <h4>Product</h4>
                <p>Under <span>Sofa Corner</span></p>
            </div>
            <a href="#" tabindex="0">$1220</a>
        </div>
        <div class="prod-btn">
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
            <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
            <p>23 likes</p>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-6">
    <div class="small-box-c">
        <div class="small-img-b">
            <img src="~/Content/images/tr4.png" alt="#"/>
        </div>
        <div class="dit-t clearfix">
            <div class="left-ti">
                <h4>Product</h4>
                <p>Under <span>Sofa Corner</span></p>
            </div>
            <a href="#" tabindex="0">$1220</a>
        </div>
        <div class="prod-btn">
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
            <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
            <p>23 likes</p>
        </div>
    </div>
</div>
</div>
<div class="loding-box">
    <a href="#">
        <div class="sk-wave">
            <div class="sk-rect sk-rect1"></div>
            <div class="sk-rect sk-rect2"></div>
            <div class="sk-rect sk-rect3"></div>
            <div class="sk-rect sk-rect4"></div>
            <div class="sk-rect sk-rect5"></div>
        </div>
        <span>Loding more awesome products...</span>
    </a>
</div>
</div>
<div class="tab-pane fade" id="tab2default">
    <div class="about-box">
        <h2>What Does Chamb Do</h2>
        <p>Chamb brings buyers and suppliers of goods together to create lasting profitable relationships. Through new connections, economic roads, and insightful associations, we want Chamb to help transform your business into the next Apple!</p>
        <p>At Chamb we understand the old adage of ‘it’s not what you know, but Who you know’ is key to success. With that in mind, through much trial and just a little bit of error, we learned the one limiting factor of any business achieving its potential: Their connections.</p>
        <p>Before Chamb existed, we noticed that though the power of the net rested at business’ finger tips, resources for discovering manufacturers and suppliers was limited at best and non-existent at worse. Smaller companies that housed great products and potential, were starving through a lack of connectivity.</p>
        <p>We took it upon ourselves to change that. We developed a burning desire to create something to bridge the chasms between businesses across country and continent. So, with a goal in mind, a skilled team at hand, Chamb sprung forth: the website that helps discover and build profitable long-lasting networks amongst businesses around the world.</p>
    </div>
</div>
<div class="tab-pane fade" id="tab3default">Default 3</div>
<div class="tab-pane fade" id="tab4default">Default 4</div>
<div class="tab-pane fade" id="tab5default">Default 5</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="products">
    <div class="main-products">
        <h2>TRENDING PRODUCTS ON CHAMB</h2>
        <div class="product-slidr">
            <div class="slider">
                <div>
                    <div class="prod-box">
                        <div class="prod-i">
                            <img src="~/Content/images/tr1.png" alt="#"/>
                        </div>
                        <div class="prod-dit clearfix">
                            <div class="dit-t clearfix">
                                <div class="left-ti">
                                    <h4>Table with Lights</h4>
                                    <p>By <span>Beko</span> under <span>Lights</span></p>
                                </div>
                                <a href="#">$1220</a>
                            </div>
                            <div class="dit-btn clearfix">
                                <a class="wis" href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist </a>
                                <a class="thi" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="prod-box">
                        <div class="prod-i">
                            <img src="~/Content/images/tr2.png" alt="#"/>
                        </div>
                        <div class="prod-dit clearfix">
                            <div class="dit-t clearfix">
                                <div class="left-ti">
                                    <h4>Treehouse Bed</h4>
                                    <p>By <span>Beko</span> under <span>Lights</span></p>
                                </div>
                                <a href="#">$1220</a>
                            </div>
                            <div class="dit-btn clearfix">
                                <a class="wis" href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist </a>
                                <a class="thi" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="prod-box">
                        <div class="prod-i">
                            <img src="~/Content/images/tr3.png" alt="#"/>
                        </div>
                        <div class="prod-dit clearfix">
                            <div class="dit-t clearfix">
                                <div class="left-ti">
                                    <h4>Wood Sofaplatform</h4>
                                    <p>By <span>Beko</span> under <span>Lights</span></p>
                                </div>
                                <a href="#">$1220</a>
                            </div>
                            <div class="dit-btn clearfix">
                                <a class="wis" href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist </a>
                                <a class="thi" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="prod-box">
                        <div class="prod-i">
                            <img src="~/Content/images/tr4.png" alt="#"/>
                        </div>
                        <div class="prod-dit clearfix">
                            <div class="dit-t clearfix">
                                <div class="left-ti">
                                    <h4>Wall Sticker</h4>
                                    <p>By <span>Beko</span> under <span>Lights</span></p>
                                </div>
                                <a href="#">$1220</a>
                            </div>
                            <div class="dit-btn clearfix">
                                <a class="wis" href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist </a>
                                <a class="thi" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="prod-box">
                        <div class="prod-i">
                            <img src="~/Content/images/tr1.png" alt="#"/>
                        </div>
                        <div class="prod-dit clearfix">
                            <div class="dit-t clearfix">
                                <div class="left-ti">
                                    <h4>Treehouse Bed</h4>
                                    <p>By <span>Beko</span> under <span>Lights</span></p>
                                </div>
                                <a href="#">$1220</a>
                            </div>
                            <div class="dit-btn clearfix">
                                <a class="wis" href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist </a>
                                <a class="thi" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="prod-box">
                        <div class="prod-i">
                            <img src="~/Content/images/tr2.png" alt="#"/>
                        </div>
                        <div class="prod-dit clearfix">
                            <div class="dit-t clearfix">
                                <div class="left-ti">
                                    <h4>Treehouse Bed</h4>
                                    <p>By <span>Beko</span> under <span>Lights</span></p>
                                </div>
                                <a href="#">$1220</a>
                            </div>
                            <div class="dit-btn clearfix">
                                <a class="wis" href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist </a>
                                <a class="thi" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="prod-box">
                        <div class="prod-i">
                            <img src="~/Content/images/tr3.png" alt="#"/>
                        </div>
                        <div class="prod-dit clearfix">
                            <div class="dit-t clearfix">
                                <div class="left-ti">
                                    <h4>Treehouse Bed</h4>
                                    <p>By <span>Beko</span> under <span>Lights</span></p>
                                </div>
                                <a href="#">$1220</a>
                            </div>
                            <div class="dit-btn clearfix">
                                <a class="wis" href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist </a>
                                <a class="thi" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>